body {
    width: 100%;
    height: 100vh; /* Adjust as needed */
    overflow: hidden;
  }
  
  .mainexploredappa1 {
    display: flex;
    justify-content: center;
 
    align-items: center;
    border-radius: 15px;
    margin: 1vw 5vw 3vw 5vw;
    /* Adjust margin as needed */
    /* Adjust width based on margin */
    height: 78vh;
  }
  
  .left-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    justify-content: space-between;
    margin-right: 5vw; /* Set width to 60% */
  }
  
  .right-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    width: 30%; /* Adjust width to remaining 40% */
  }

.search-bar1{
    width: 100%;
    height: 8vh;

  
}
  
.explore-box{
    width: 100%;
    height: 85%;
    background-color: rgb(249, 249, 249);
    border-radius: 20px;
}


.field1, .category1 , .search-button1{
  background-color: rgb(249, 249, 249);
  height: 100%;
  border-radius: 20px;
  width: 8vw;
}
.search-bar1{
  display: flex;
  justify-content: space-between;

}
.search-box1{

  font-size: 4vw;
  width: 30vw;
  border-radius: 20px;
  
}



#srchbut{
  background-color: hsla(237, 67%, 20%, 0.843); /* Green */
  border: none;
  color: white;
  padding: 1.vh; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  height: 100%;

}


.ptntile{
  font-weight: 700;
  font-size: 1.3rem;
}


.ptntauthors{
    color: rgb(69, 69, 69);
    font-size: 0.9vw;
}


.paperlocation{
  color: rgb(139, 139, 139);
  font-size: 1.1vw;
}


.year{
  font-size: 1.1vw;
}
.download{
  color: rgb(16, 20, 117);
}

.selectedPatents{
    display: flex;

    margin-bottom: 1rem;

  }
.explore-box{
  display: flex;
  flex-direction: column;
  
  padding: 2vw;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 8px;
  
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  margin: 15px 13px 12px 18px ;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #dfdfdf; 
  background-clip: content-box;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6c6c6c; 
}



.search-box1 {

  width: 85%;
  border-radius: 20px;
  position: relative; /* Make sure the position is relative */
}

#searchInput {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 1rem; /* Adjust padding as needed */
  font-size: 1rem; /* Adjust font size as needed */
  border-radius: 20px;
  position: absolute; /* Make sure the position is absolute */
  top: 0;
  left: 0;
  border-radius: 20px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}





#searchInput:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

#searchInput:active {
  transform: scale(0.95);
}

#searchInput:focus {
  border: 2px solid grey;
}