.navbar{
    height: 8.3%;
    top: 0;
    left: 0;
    /* position: fixed; */
    width: 100%;
    
}

.nav-comp{

    background-color: var(--primary);
    color: whitesmoke;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* box-shadow: rgba(134, 134, 134, 0.15) 0px 8px 10px 0px;*/
    padding: 0 50px 0 50px;
    backdrop-filter: blur(8px) ;
    -webkit-backdrop-filter: blur(8px) saturate(200%);
    background-color: rgba(20,21,24, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.nav-items{
    display: flex;
    list-style: none;
    align-items: flex-start;
    

}

.nav-items li{
    padding: 0 25px 0 25px;
    }
    
.nav-items li a{
    font-size: 1.1rem;
    color: whitesmoke;
    text-decoration: none;
}
#code{
    color: rgb(6, 89, 154);
}

