.navbarr {
    height: 115px;
    top: 10px;
    left: 0;
    /* position: fixed; */
    width: 100%;
     /* Add bottom border */
     box-shadow: none;
     padding: 0px 80px;
}
.nav-comp {
    color: black; /* Change text color to black */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    box-shadow: none;
    margin-top: 15px;
    padding: 0 0px; /* Adjust padding */
    /* backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px) saturate(200%);
   */
}

.navdiv-items{
    display: flex;
}

.nav-items {
    display: flex;
    list-style: none;
    align-items: flex-start;
    justify-content: flex-start;
     /* Add transparent bottom border */
}

.right-items{
    display: flex;
    
    justify-content:space-between;
}
.right-icons{
    display: flex;
    justify-content: space-between;
    padding: 0 8px 10px 8px;
    align-items: center;
}


.usericon{
    color: rgb(51, 51, 51);
}
.noticon{
    color: rgb(51, 51, 51);
    padding: 0 25px;
    font-size: 32px;
}
.nav-items li {
    padding: 25px 25px;
}
.navLogout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(217, 82, 82);
    color: white;
    height: 30px;
    border: none;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0.3rem;
  }
  
.nav-items li a {
   
    font-size: 20px;
    color: rgb(51, 51, 51); /* Change text color to black */
    text-decoration: none;
}

.nav-items li a:hover {
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 35px;
    background-color: rgba(10, 30, 53, 0.735);
    color: rgb(220, 220, 220);
     /* Add bottom border on hover */
}

#code {
    color: rgb(6, 89, 154);
}


#code {
    color: rgb(6, 89, 154);
}
#codeanal{
    font-size: 1.5rem;
}