body{
  
  width: 100%;
  height: 100vh; /* Adjust as needed */
  overflow: hidden; 
}
.maindappa{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;

}
.user-container {
  border-radius: 15px;
  background-color: azure;
  padding: 5vw;
  display: flex;
  justify-content: flex-start;
  font-size: 4vw;
  margin: 5vw; /* Adjust margin as needed */
  width: calc(100% - 10vw); /* Adjust width based on margin */
  height: 100%;
}
.contentNavigation{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 70%;
  margin-left: 100px;
  height: 90%;
}

.usernav-items{
  display: flex;
  flex-direction: column;

    list-style: none;

   
}
.usernav-items li{
  font-size: 20px;
  padding: 0 0 25px 0;

}

.usernav-items li a{

  color: rgb(51, 51, 51);
  text-decoration: none;
  
}

.usernav-items li a:hover {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 35px;
  background-color: rgba(10, 30, 53, 0.735);
  color: rgb(220, 220, 220);
   /* Add bottom border on hover */
}

.proimage{
  height: 70px;
  width: 70px;
  border-radius: 50px;
  background-color: grey;
  margin-right: 20px;
}

.name-details{
  
  display: flex;
  justify-content: space-between;
  width: 100%;


}

.imageNamegrp{
  display: flex;
  width: 45%;
  
}


.persondet{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


.personfirstrow{
  display: flex;
  justify-content: space-between;
}

.personsecondrow{
  display: flex;
  justify-content: space-between;
  width: 53%;
}

.itemheading{
  font-size: 16px;
  font-weight: 600;
  color: rgb(23,23,23);
}

.itemvalue{
  font-size: 20px;
  font-weight: 400;
  color: rgb(101, 101, 101);
}


.myprofile{
  font-size: 26px;
}


.personalinfo{
  font-size: 20px;
}

.choooselang{
  width: 40%;
  border-radius: 8px;
}

.Location{
  font-size: 20px;
  font-weight: 500;
  color: rgb(101, 101, 101);
}









@media (min-width: 768px) {
  .user-container {
    padding: 2rem; /* Adjust padding as needed */
    font-size: 1.6rem; /* Adjust font size as needed */
    margin: 5vw; /* Adjust margin as needed */
    width: calc(100% - 10vw); /* Adjust width based on margin */
  }
}

@media (min-width: 1024px) {
  .user-container {
    padding: 4rem 3rem 3rem 3rem; /* Adjust padding as needed */
    font-size: 1.2rem; /* Adjust font size as needed */
    margin: 14vw; /* Adjust margin as needed */
    width: calc(100% - 15vw); /* Adjust width based on margin */
  }
}

/* Add other media queries for larger resolutions if necessary */
